body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #046f87;
  font-family: 'Rubik Doodle Shadow';
  min-height: 100vh;
  padding: 0 20px;
}
li {
  list-style-type: none;
}
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  max-width: 1440px;
  padding: 100px 50px;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 10px;
}
.hangman-wrapper {
  max-width: 300px;
}
.hangman-wrapper__title {
  margin-top: 30px;
  text-align: center;
}
.game-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.answer {
  display: flex;

  gap: 10px;
  padding-left: 0px;
  margin-bottom: 30px;
}
.answer-letter {
  width: 30px;
  height: 25px;
  border-bottom: 4px solid black;
  font-family: 'Rubik';
  font-size: 1.5rem;
  text-align: center;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.answer-letter--open {
  border-bottom: transparent;
  animation-name: showLetter;
}
@keyframes showLetter {
  from {
    margin-top: -20px;
  }
  to {
    margin-top: 0px;
  }
}
.hint-text {
  padding-left: 3px;
}
.guesses-score {
  color: brown;
  padding-left: 5px;
}
.keyboard-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 404px;
  margin-top: 30px;
}
.key {
  font-family: 'Rubik';
  width: 40px;
  height: 40px;
  background-color: #046f87;
  border: none;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;

  box-shadow: 0px 3px 0px 0px #32414e66;
  position: relative;
  bottom: 3px;
}
.key:hover {
  background-color: #079fc1;
}
.key--active {
  background-color: #079fc1;
  box-shadow: none;
  bottom: 0px;
  transition: 0.1s;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(64, 63, 61, 0.8);
  font-size: 1.5rem;
  font-family: 'Rubik';
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

.modal--active {
  opacity: 1;
  visibility: visible;
}
.modal--active .modal__container {
  animation-name: showModal;
  animation-duration: 0.9s;
  animation-timing-function: cubic-bezier(0.14, 0.95, 0.38, 1.19);
}
.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 320px;
  height: 320px;
  border-radius: 40px;
  background: aliceblue;
  margin: 0 auto;
  padding: 16px;
}

@keyframes showModal {
  from {
    margin-top: -1000px;
  }
  to {
    margin-top: 0px;
  }
}
.modal__title {
  margin-top: 30px;
  margin-bottom: 90px;
}
.modal__button {
  width: 140px;
  height: 50px;
  background-color: #046f87;
  border: none;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}
.modal__button:hover {
  background-color: #079fc1;
}
.secret-word {
  color: #079fc1;
}
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
  }
}
@media (max-width: 520px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
  }
  body {
    padding: 0 10px;
  }
  .keyboard-wrapper {
    gap: 4px;

    max-width: 348px;
    margin-top: 30px;
  }
  .key {
    width: 34px;
    height: 34px;
    bottom: 2px;
  }

  .key--active {
    box-shadow: none;
    bottom: 0px;
  }
}
@media (max-width: 380px) {
  .container {
    padding: 50px 5px;
  }
  body {
    padding: 0 5px;
  }
}
