* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  color: #403f3d;
}
li {
  list-style-type: none;
}
html {
  font-family: 'Inter', sans-serif;
}
.body {
  background-color: #e1d4c9;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
 
}

.body--lock {
  overflow: hidden;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
}
.nav__list {
  display: flex;
  gap: 40px;
  padding-left: 0px;
}
.nav__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #403f3d;
}
.nav__item {
  border-bottom: 2px solid #e1d4c9;
  transition: 0.4s;
}
.nav__item-burger {
  display: none;
}


.nav__item:hover {
  border-bottom: 2px solid #403f3d;
  
}

.menu {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  border-bottom: 2px solid #e1d4c9;
  transition: 0.3s;
}

.menu:hover {
  border-bottom: 2px solid #403f3d;
  

}
.menu__link {
  color: #403f3d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.menu__img {
  padding-bottom: 2px;
}
.menu__btn {
  display: none;
}

.enjoy__img {
  background-image: url('../../assets/images/img-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 40px;
  max-width: 1360px;
  height: 645px;
  padding-left: 100px;
  padding-top: 100px;
}
.enjoy__video-wrapper {
  border-radius: 40px;
  max-width: 1360px;
  height: 644px;
}
.enjoy__video {
  position: relative;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enjoy-container {
  position: relative;
}
.enjoy__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 530px;
  color: #e1d4c9;
  gap: 25px;
  z-index: 1;
  left: 100px;
  top: 100px;
}
.enjoy__title {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

.enjoy__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
h1 > span {
  font-style: italic;
  color: #b0907a;
}

.enjoy__button {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #403f3d;
  border-radius: 100px;
  background: #e1d4c9;
  padding: 23px 58px;
  padding-left: 75px;
  width: 200px;
  height: 64px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.img-coffee-cup {
  opacity: 0;

  

 
  transition: 0.3s;
}
.enjoy__button:hover  {
  padding: 23px 55px;
  
}
.enjoy__button:hover > .img-coffee-cup {
  opacity: 1;
  

}

.favorite {
  margin-top: 100px;
}
.favorite-container {
  display: flex;
  flex-direction: column;
}
.favorite__title {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
h2 > span {
  font-style: italic;
  color: #b0907a;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.slider__btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.slider__btn-svg {
  stroke: #403f3d;
}

.slider__wrapper {
  display: flex;
  max-width: 480px;
  overflow: hidden;
}
.coffee-card {
  color: #403f3d;
  text-align: center;
  font-style: normal;
}
.coffee-card__img {
  width: 480px;
  height: 480px;
}
.coffee-card__title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0px;
}
.coffee-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
}
.coffee-card__price {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.slider__progress {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  margin-top: 40px;
}
progress {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 100px;
  background-size: auto;
}
progress::-webkit-progress-value {
  background: #665f55;
  border-radius: 100px;
}
progress::-webkit-progress-bar {
  background: #c1b6ad;
  border-radius: 100px;
}
.progress-bar {
  width: 40px;
  height: 4px;
  background: #c1b6ad;
}
.about {
  margin-top: 100px;
}
.about__title {
  margin-bottom: 40px;
  line-height: 125%;
}

.about__images {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.about__image-container {
  position: relative;
  width: 660px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 20px;
}

.about__image-container:nth-child(1) {
  height: 590px;
}

.about__image-container:nth-child(2) {
  height: 430px;
}
.about__image-container:nth-child(3) {
  height: 430px;
}
.about__image-container:nth-child(4) {
  bottom: 160px;
  height: 590px;
}

.about__image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scale(1.1);
  object-fit: cover;
}
.mobile-app {
  margin-top: 30px;
}
.mobile-app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download {
  position: relative;
  bottom: 90px;
  color: #403f3d;
  width: 630px;
  font-style: normal;
}
.download__title {
  margin-bottom: 40px;
  margin-top: 0px;
  line-height: 125%;
}
.download__buttons {
  display: flex;
  gap: 20px;
}
.download__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}
.download__button {
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  gap: 8px;
  border-radius: 100px;
  background: inherit;
  border: 1px solid #665f55;
  padding: 12px 20px;
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
}

.download-svg {
  fill: #403f3d;
}

.download__images {
  display: block;
  position: relative;
  bottom: 90px;
}
.button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #403f3d;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}

.button-text1 {
  font-size: 10px;
  margin-bottom: 5px;
}
.button-text2 {
  font-size: 16px;
}
.footer {
  margin-top: 10px;
}
.footer-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;

  align-items: center;
  justify-content: space-evenly;
  border-radius: 40px;
  background: #665f55;
}
.sotial-links {
  width: 530px;
}
.sotial-links__title {
  margin-bottom: 40px;
  color: #e1d4c9;
  line-height: 125%;
}
.sotial-links__wrapper {
  display: flex;
  gap: 7px;
}
.sotial-link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.svg-links {
  stroke: #c1b6ad;
}


.sotial-link:hover {
  border: 1px solid #E1D4C9;
  background: #E1D4C9;
}
.sotial-link:hover > svg {
  stroke: #403F3D
}

.contacts__wrapper {
  gap: 16px;
}
.contacts {
  color: #e1d4c9;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  width: 530px;
}

.contacts__title {
  margin-top: 70px;
  padding-bottom: 35px;
  margin-bottom: 0px;
}

.contacts__item {
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 2px solid #665f55;
  width: 266px;
  transition: 0.3s;
  cursor: pointer;
}
.contacts__item:nth-child(1){

  max-width: 185px;
  }
  .contacts__item:nth-child(2){
    max-width: 185px;
    }

.contacts__item:nth-child(2){
  max-width: 185px;
  }
.contacts__item:nth-child(1):hover {
  border-bottom: 2px solid #e1d4c9;
}
.contacts__item:nth-child(2):hover {
  border-bottom: 2px solid #e1d4c9;
}
.contacts__item:nth-child(3) {
  cursor: auto;
}

.contacts__item > a {
  color: #e1d4c9;
}
.contacts__icon {
  padding-right: 8px;
}


@media (hover: hover){
  .nav__item:hover {
    border-bottom: 2px solid #403f3d;
  }
  .menu:hover {
    border-bottom: 2px solid #403f3d;
  }
  .enjoy__button:hover  {
    padding: 23px 55px;
  
  }
  .enjoy__button:hover > .img-coffee-cup {
    opacity: 1;
  }
  .slider__btn:hover > svg {
    stroke: #e1d4c9;
  }
  .slider__btn:hover {
    background: #665f55;
  }
  .about__image-container:hover .about__image {
    transform: scale(1);
  }
  .download__button:hover {
    background-color: #665f55;
    fill: #e1d4c9;
  }
  .download__button:hover .button-text {
    color: #e1d4c9;
  }
  .download__button:hover .download-svg {
    fill: #e1d4c9;
  }
  .sotial-link:hover {
    background: #E1D4C9;
  }
  .sotial-link:hover > svg {
    stroke: #403F3D
  }
  .contacts__item:nth-child(1):hover {
    border-bottom: 2px solid #e1d4c9;
  }
  .contacts__item:nth-child(2):hover {
    border-bottom: 2px solid #e1d4c9;
  }
 
}
.contacts__item:nth-child(3) {
  cursor: auto;
}
@media (hover: none){
  .nav__item:active {
    border-bottom: 2px solid #403f3d;
  }
  .menu:active {
    border-bottom: 2px solid #403f3d;
  }
  .enjoy__button:active > .img-coffee-cup {
    display: block;
  }
  .slider__btn:active > svg {
    stroke: #e1d4c9;
  }
  .slider__btn:active {
    background: #665f55;
  }
  .about__image-container:active .about__image {
    transform: scale(1);
  }
  .download__button:active {
    background-color: #665f55;
    fill: #e1d4c9;
  }
  .download__button:active .button-text {
    color: #e1d4c9;
  }
  .download__button:active .download-svg {
    fill: #e1d4c9;
  }
  .sotial-link:active {
    background: #fff;
  }
  .sotial-link:active > svg {
    stroke: #e1d4c9;
  }
  .contacts__item:active {
    border-bottom: 2px solid #e1d4c9;
  }
}
@media (max-width: 1439px) {
  .about__image-container {
    width: 688px;
  }
  .about__images {
    align-content: center;
    flex-direction: column;
  }
  .about__image {
    transform: scale(1.05);
  }
  .about__image-container:nth-child(2) {
    display: none;
  }
  .about__image-container:nth-child(3) {
    display: none;
  }
  .about__image-container:nth-child(4) {
    bottom: 0px;
  }

  .mobile-app {
    margin-top: 190px;
  }
  .mobile-app-container {
    flex-direction: column;
  }
  .download {
    width: auto;
  }
  .download__images {
    position: initial;
    margin-left: 30px;
    margin-top: 10px;
  }
  .download__button {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .footer {
    margin-top: 100px;
  }
}

@media (max-width: 1300px) {
  .footer-container {
    flex-direction: column;
    padding-bottom: 85px;
  }
  .contacts__title {
    margin-top: 100px;
  }
  .sotial-links,
  .contacts {
    width: 568px;
  }
  .contacts__item {
    margin-bottom: 13px;
  }
}
@media (max-width: 768px) {
  .logo {
    position: relative;
    z-index: 20;
  }
  .enjoy__img {
    padding-left: 60px;
  }
  .nav__item-burger {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin-top: 40px;
  }
  .menu__img {
    padding-bottom: 4px;
  }
  .menu__link {
    font-size: 32px;
  }
  .nav__list,
  .menu {
    display: none;
  }
  .menu__btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: inherit;
    border-radius: 100px;
    border: 1px solid #665f55;
    cursor: pointer;
  }
  .btn__line {
    position: absolute;
    width: 16px;
    height: 2px;
    top: 16px;
    left: 14px;
    background: #403f3d;
    border-radius: 2px;
    transition: 0.3s;
  }
  .btn__line:nth-child(1) {
    top: 16px;
  }
  .btn__line:nth-child(2) {
    top: 24px;
  }
  .nav__list--active .btn__line:nth-child(1) {
    top: 20px;
    transform: rotate(225deg);
  }
  .nav__list--active .btn__line:nth-child(2) {
    top: 20px;
    transform: rotate(-225deg);
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: auto;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    background-color: #e1d4c9;
    transform: translateX(100%);
    transition: 0.5s;
    padding-right: 0px;
    padding-left: 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
  .img-coffee-cup {
    opacity: 1;
  
  }
  .nav__link {
    font-size: 32px;
  }
  .nav__list--active .nav__list {
    transform: translateX(0%);
  }

  .favorite__title {
    line-height: 125%;
  }
  .enjoy__button{
    padding: 23px 58px;
  }
  .slider {
    margin-top: 40px;
  }
  .coffee-card__title {
    margin-top: 18px;
  }
  .mobile-app-container {
    align-items: flex-start;
  }
  .contacts__icon {
    padding-right: 5px;
}
}

@media (max-width: 767px) {
  .body {
    padding-left: 16px;
    padding-right: 16px;
  }
  .slider__progress {
    margin-top: 42px;
}
}

@media (max-width: 720px) {
  .about__image-container{
    width: 348px;
    height: 590px;
  }
  .download__images {
    position: relative;
  max-width: 348px;
  margin:40px auto 0px
}
.download__buttons{
  flex-direction: column;
}
}
@media (max-width: 620px) {
  h2{
    font-size: 32px;
  }
  .enjoy__title{
    font-size: 42px;
    line-height: 115%;
  }
  .enjoy__text{
   margin: 14px 0px;
  }
  .enjoy__content {
    max-width: 316px;
    padding-top: 60px;
}
.enjoy__img {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
   padding-left: 0px;
   padding-top: 0px;
   height: 552px;
}
.slider__wrapper{
  max-width: 348px;
}
.coffee-card{
  max-width: 348px;
}
.coffee-card__img {
  max-width: 348px;
  height: 348px;
  object-fit: cover;
 
}
.sotial-links, .contacts {
  max-width:316px
}
.footer {
   margin-top: 10px; 
}
.footer-container{
  padding-top: 35px;
  padding-bottom: 45px;
}
.contacts__title{
  margin-top: 40px;
}
}

 @media (max-width: 510px) {
  .slider {
    justify-content: center;
  }
  .slider__btn{
    display: none;
  }
  
  .about__image {
    transform: scale(1.23);
}
.download__button {
  padding-top: 12px;
}
} 




