:root {
  --width-cell: 25px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #579fd3;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 20px;
  font-family: 'Roboto Mono', monospace;
}

.container {
  background-color: #f4f5f6;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
}
.playing-field {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.playing-field-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  border: 2px solid black;
}
.playing-field-wrapper {
  display: flex;
  max-width: calc(var(--width-cell) * 5 + 10px);
  flex-wrap: wrap;
}

.top-clues-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(var(--width-cell) * 5 + 10px);
  background-color: #cae3f7;
  border-left: 2px solid black;
}

.playing-field-left-clues-wrapper {
  display: flex;
}
.playing-field-left-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(var(--width-cell) * 3 + 6px);
  background-color: #cae3f7;
  border-right: 1px solid black;
  justify-content: center;
}

.timer-top-clues-wrapper {
  display: flex;
  width: calc(var(--width-cell) * 8 + 16px);
  justify-content: flex-end;
  border-bottom: 2px solid black;
}
.timer {
  padding-right: 15px;
  padding-top: 25px;
}
.settings {
  display: flex;
  flex-direction: column;
}
.settings__form {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.settings-button-wrapper {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button {
  font-family: 'Roboto Mono', monospace;
  height: 25px;
  background-color: #579fd3;
  border: none;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
}
.button:hover {
  background-color: #76c2f8;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width-cell);
  height: var(--width-cell);
  border: 1px solid black;
  cursor: pointer;
}

.cell--active-cross::before {
  content: '✖';
}
.cell-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width-cell);
  height: var(--width-cell);
  border: 1px solid black;
}
.cell--activ {
  background-color: black;
}
.victory-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 40px;
}
.settings__sound {
  width: 85px;
}
@media (max-width: 550px) {
  .settings-button-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .button {
    height: 25px;
    width: 170px;
  }
}
