body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bee5ee;
  min-height: 100vh;
  padding: 0 20px;
}

.container {
  background-color: #f4f5f6;
  max-width: 1920px;
  margin: 0 auto;
}
.playing-field {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.playing-field-wrapper {
  display: flex;
  max-width: 210px;
  flex-wrap: wrap;
  /* border-top: 1px solid black;
  border-left: 1px solid black; */
}
.top-clues-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 210px;
}
.playing-field-left-clues-wrapper {
  display: flex;
}
.playing-field-left-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 126px;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}
.cell-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.cell-black {
  background-color: black;
}
